*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Tahoma, Arial;
}
.repos-container{
    margin: 50px auto;
    width: 800px;
    background-color: #f6f6f6;
}

.repos-container .get-repos{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}
.repos-container .get-repos input{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-right: 20px;
    height: 55px;
}
.repos-container .get-repos input:focus{
    outline: 2px solid #f44336;
}
.repos-container .get-repos .repo-btn{
    display: flex;
    width: 150px;
    height: 55px;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    background-color: #f44336;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.repos-container .get-repos .repo-btn:hover{
    background-color: #ff1336;
}
.repos-container .show-data{
    padding: 20px;
    background-color: #e0eee0;

}
.repos-container .show-data .repo-box{
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.repos-container .show-data .repo-box:not(:last-child){
    margin-bottom: 5px;
}
.repos-container .show-data .repo-box .info{
    width: 200px;
    display: flex;
}
.repos-container .show-data .repo-box a,
.repos-container .show-data .repo-box span{
    width: 90px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 15px;
    text-align: center;
    color: white;
}
.repos-container .show-data .repo-box a{
    text-decoration: none;
    background-color: #f44336;
}
.repos-container .show-data .repo-box span{
    background-color: #0075cc;
}